# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vs
# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


#.vs
/C++_RPG_Game_(SFML)/.vs/
#build output
x64/
x86/
Debug/
Release/

#visual studio user settings
*.user
*.suo
*.opensdf
*.sdf
*.cache
*.db
*.opdb

#unignore
!/C++_RPG_Game_(SFML)/External/
!/C++_RPG_Game_(SFML)/External/*
!/C++_RPG_Game_(SFML)/External/**/*
!/C++_RPG_Game_(SFML)/C++_RPG_Game_(SFML)/*dll
